

// Sections
header {
  margin-top: 30px;
  margin-bottom: 10px;
}

// Toggle Styles
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  @media(min-width:768px) {
    padding-left: 250px;
  }

  &.toggled {
    padding-left: 250px;

    @media(min-width: $screen-sm) {
      padding-left: 0;
    }

    #sidebar-wrapper {
      width: 250px;

      @media(min-width: $screen-sm) {
       width: 0;
      }
    }

    #page-content-wrapper {
      position: absolute;
      margin-right: -250px;

      @media(min-width: $screen-sm) {
       position: relative;
       margin-right: 0;
      }
    }
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 500px;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  @media(min-width: $screen-sm) {
    width: 250px;
  }
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  background: #fff;
  border: 1px solid #ccc;

  @media(min-width: $screen-sm) {
    padding: 20px 40px;
    position: relative;
  }
}

// Rows
.block-logout {
  @include flexbox();
  justify-content: flex-end;
}

.block-search {
  position: relative;

  input {
    padding-right: 30px;
  }

  i {
    position: absolute;
    right: 0;
    padding: 10px 12px;
  }
}

.tbl-translation {
  width: 100%;

  .table {
    border: 1px solid #ccc;

    > tbody {
      > tr {
        &:nth-child(odd) {
          background: #f7f7f7;
        }

        > th {
          background: #53ACE4;
          color: #fff;
          padding-left: 30px;
          padding-right: 30px;

          &:not(:last-child) {
            border-right: 1px solid #fff;
          }
        }

        > td {
          padding-left: 30px;
          padding-right: 30px;

          &:not(:last-child) {
            border-right: 1px solid #ccc;
          }
        }
      }
    }
  }
}

.block-add-translation {
  .block-form {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 15px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-indent: 20px;
    line-height: 40px;
    margin-bottom: 3px;

    a {
      display: block;
      text-decoration: none;
      color: #999999;
      background: #c6bfb9;
      border: 1px solid #ccc;
      border-right: 0;
      border-radius: 3px 0 0 3px;

      &:hover {
        text-decoration: none;
        color: $brand-info;
        background: rgba(255,255,255,0.2);
        @include transition(.3s background);
      }

      &:active,
      &:focus {
        text-decoration: none;
      }

      &.active {
        background: #fff;
        color: $brand-info;
        position: relative;
        z-index: 99;
      }
    }
  }

  > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;

    a {
        color: #999999;

      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}
